.quality-select {
    width: 100px;
    height: 50px;
}

.quality-select-dropdown {
    width: 100px;
    height: 50px;
}

.submit-div {
    margin-top: 20px;
}

.download-btn {
    margin-left: 10px;
}

.hidden {
    display: none !important;
}

.main-div {
    padding: 0px;
    position: relative;
}

.form-wrapper {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
}

.loading-div {
    justify-content: center;
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .1;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.loading-div .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 35px;
}

.loading-div .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading-div .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-div .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-div .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#drop-area-text {
    border: 2px dashed #ccc;
    border-radius: 8px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#drop-area-text.active {
    background-color: #f8f8f8;
}

#drop-area-text p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#drop-area-text:hover {
    background-color: #f8f8f8;
}

#originalImageDiv{
    border: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

#originalImageDiv h4{
    text-align: center;
}

.previewImagesDiv{
    width: 100%;
    /* padding: 20px; */
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.previewImagesDiv img{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

.previewImagesDiv > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.previewImagesDiv > div > p {
    font-size: 12px;
    margin: 0px;
    padding: 8px 0px;
    width: 100px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#compressedImageDiv{
    border: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

#compressedImageDiv h4{
    text-align: center;
}

.compressedImagesDiv{
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.compressedImagesDiv img{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

.compressedImagesDiv > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.compressedImagesDiv > div > p {
    font-size: 12px;
    margin: 0px;
    padding: 8px 0px;
    width: 100px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}